:root {
    --Primary-100: #e6f1fc ;
    --Primary-200: #b0d4f7 ;
    --Primary-300: #0073e5 ;
    --Primary-400: #0056ac ;
    --Primary-500: #003467 ;
    --Text-100: #cfcfcf;
    --Text-200: #bdbdbd;
    --Text-300: #909090;
    --Text-400: #000000;
    --Surface-100: #fff;
    --Surface-200: #ebebeb;
    --Border-100: #e4e7ec;
    --Border-200: #E1E1E1;
    --Border-300: #000000;
    --System-success: #1CC100;
    --System-error: #FB3B3B;
    --System-warning: #FF961C;
    --Static-white:#FFFFFF;
    --Static-black:#000000; 
}