@use "../../assets/scss/variables" as *;
@use "../../assets/scss/mixins" as *;
@use "../../assets/scss/fonts" as *;


.detail-pick {
    background-color: var(--Surface-200);
    padding: 80px 0;

    .inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .title {
        @include title-h2;
        text-align: letr;
        margin-bottom: 40px;
    }

    .pick-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }

        .pick-item {
            background: var(--Surface-100);
            border-radius: 8px;
            overflow: hidden;
            cursor: pointer;
            transition: transform 0.3s;

            &:hover {
                transform: translateY(-5px);
            }

            .thumb {
                width: 100%;
                aspect-ratio: 1/1;
                background-color: var(--Border-100);
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .text-box {
                padding: 16px;
                text-align: center;

                .sub-title {
                    @include body-S;
                    color: var(--Text-300);
                    margin-bottom: 4px;
                }
                .prod-title {
                    @include subtitle-L;
                    color: var(--Text-400);
                    margin-bottom: 8px;
                }
                .price {
                    @include subtitle-M;
                    color: var(--Primary-400);
                }
            }
        }
    }
}
