@use "../../assets/scss/fonts" as *;
@use "../../assets/scss/mixins" as *;

.gnb ul {
  display: flex;
  gap: 28px;
  li {
    @include body-XL;
    color: var(--Primary-300);
    cursor: pointer;
    &:hover {
      color: var(--Primary-400);
      font-weight: bold;
    }
  }
}

@include mobile {
  .gnb {
    @include flex-layout();
    ul {
  gap: 20px;

      li {
        span {
          font-size: 1rem;
        }
      }
    }
  }
}
